<section id="estat" class="section-content bg-cloud">
    <div class="container">
        <h2 class="text-center"><span>Estatísticas Gerais</span></h2>
        <div class="content-header-extra" style="margin-top:65px;">
            <a class="item-ch-extra">
                <div class="data-text text-success"><p class="text-muted">Membros</p>@ViewBag.numero</div>
            </a>
            <div class="divider" style="margin-left:50px; margin-right:50px;"></div>
            <a class="item-ch-extra">
                <div class="data-text text-success"><p class="text-muted">Membro mais recente</p>@ViewBag.last</div>
            </a>
            <div class="divider" style="margin-left:50px; margin-right:50px;"></div>
            <a class="item-ch-extra">
                <div class="data-text text-success"><p class="text-muted">Voltas ao mundo</p>@ViewBag.nVoltas</div>
            </a>
            <div class="divider" style="margin-left:50px; margin-right:50px;"></div>
            <a class="item-ch-extra">
                <div class="data-text text-success"><p class="text-muted">O Conquistador</p>@ViewBag.conquistador</div>
            </a>
        </div>
    </div>
</section>