<section class="section-content bg-warning" style="padding:50px;">

    <div class="container">
        <h1 class="text-capital text-center">
            <span class="text-lead">ENTRA NESTA AVENTURA!</span>
        </h1>
        <br>
        <div class="text-center margin-top">
            <div class="float-shadow">
                <a href="@Url.Action("Login", "User")" class="btn btn-lg btn-rounded btn-transparent margin-left">
                    <span class="text-lg">JOGAR AGORA</span>
                </a>
            </div>
        </div>
    </div>
</section>