<section id="features" class="section-content bg-inverse">
    <div class="container">
        <h2 class="text-center"><span>Regras</span></h2>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="feature-item">
                    <p class="text-64 hover-shadow"><i class="fa fa-unlock" style="color:#27AE60;"></i></p>
                    <p class="lead">Requisitos Mínimos de Progressão</p>
                    <p class="text">Em cada continente, é obrigatório completar com sucesso sete desafios em áreas protegidas diferentes. Só depois poderás progredir na tua aventura.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="feature-item" data-wow-delay="0.3s">
                    <p class="text-64 hover-shadow"><i class="fa fa-clock-o" style="color:#D35400;"></i></p>
                    <p class="lead">Tempo de Resposta</p>
                    <p class="text">
                        Para responderes a um desafio, terás de o fazer dentro de um limite de tempo. O incumprimento desta regra leva a que a tua resposta seja considerada errada e como tal e à consequente perda de pontos.
                        No caso de utilizares ajudas, esta regra não se aplica.
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="feature-item" data-wow-delay="0.6s">
                    <p class="text-64 hover-shadow"><i class="fa fa-trophy" style="color:#2980B9"></i></p>
                    <p class="lead">O Derradeiro Desafio</p>
                    <p class="text">
                        Quando estás prestes a terminar a tua jornada num dado continente, é-te imposto um desafio especial e mais exigente: O Derradeiro Desafio!
                        Aqui, terás de reposponder acertadamente a um conjunto de três questões, sem a possibilidade de usar as ajudas.
                        Se fores mal sucedido, terás de repetir o desafio.
                        Após completares com sucesso este grande obstáculo, estarás apto para avançar para o próximo continente.
                    </p>

                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="feature-item" data-wow-delay="0.9s">
                    <p class="text-64 hover-shadow"><i class="fa fa-plane" style="color:#F39C12;"></i></p>
                    <p class="lead">Mudança de Área Dentro de um Continente</p>
                    <p class="text">Ao iniciares a tua jornada, podes escolher em qual dos seis continentes queres começar. A rota percorrida entre continentes é definida pelo sistema. No entanto, dentro de cada continente, terás maior liberdade de escolha pois, dentro de uma lista, poderás decidir para qual área protegida queres avançar.</p>
                </div>
            </div>
        </div>
    </div>
</section>