<section id="about" class="section-content">
    <div class="container">
        <h2 class="text-center"><span>Sobre</span></h2>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="caption-showcase">
                    <p style="margin-left:16px;"><strong>Animais 360</strong> é um jogo de estratégia que possibilita ao jogador vestir a pele de uma personagem aventureira que enfrenta verdadeiros desafios com o objetivo de obter o título de conquistador do Mundo. Para que tal aconteça, a personagem terá de percorrer todos os continentes do planeta, mostrando que tudo sabe sobre os animais e as reservas naturais que o jogo contempla.</p><br>
                    <p style="margin-left:16px;">Para qualquer informação, <a target="_blank" href="mailto:63msim@gmail.com">contacta-nos.</a></p>
                </div>
            </div>
        </div>
    </div>
</section>