<section id="tools" class="section-content bg-cloud">
    <div class="container">
        <h2 class="text-center"><span>Tutorial</span></h2>
        <div class="row text-center">
            <div class="col-sm-12 wow" data-wow-delay="0.5s">
                <embed width="900" height="500" src="http://www.youtube.com/v/XGSy3_Czz8k?rel=0" type="application/x-shockwave-flash"/>
            </div>
        </div>
    </div>
</section>