@using Animais360.Models
@{
    ViewBag.Title = "Game Over";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:45%">
        @using (Html.BeginForm("GameOver", "Jogo", new { id = ViewBag.IdUser }, FormMethod.Post))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">GAME OVER!</h3>
                </div>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="modal-body">                   
                </div>
                <button class="md-close" style="margin-left:42%; margin-bottom:5%;"> Nova Aventura      </button>
                <button class="md-close" style="margin-left:42%; margin-bottom:5%;"> Voltar à Dashboard </button>
            </div>
        }
    </div>
</div>

<!-- Parte Essencial -->
<div class="content">
    <div class="content-body">
        <div id="map_canvas" style="height:790px;"></div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2YN0hK1nUK_Pln49Z-xO3GBX9i1LHoqI&sensor=false"></script>
<script>
    $('#myModal').modal('toggle');

    var p1 = new google.maps.LatLng(44.5403, 20);

    var map_options = {
        center: p1, zoom: 2,
        mapTypeId: google.maps.MapTypeId.TERRAIN,
        panControl: false, zoomControl: false, mapTypeControl: false,
        scaleControl: false, streetViewControl: false,
        //overviewMapControl: boolean
    };

    var map = new google.maps.Map(document.getElementById('map_canvas'), map_options);
    google.maps.event.addDomListener(window, 'load');
</script>
