@model Animais360.Models.User

<div class="content">
    <div class="content-header">
        <h2 class="content-title"><i class="fa fa-dashboard"></i>Dashboard</h2>
    </div>
    <div class="content-body">
        <div id="panel-tablesorter" class="panel panel-default">
            <div class="panel-heading bg-white">
                <h3 class="panel-title" style="color:#F39C12">Tabela Geral</h3>
            </div>

            <div class="panel-body">
                <div class="table-responsive table-responsive-datatables">
                    <table class="tablesorter table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Nome Utilizador</th>
                                <th>Dificuldade</th>
                                <th>Voltas Realizadas</th>
                                <th>Pontuação Máxima</th>
                                <th>Continente Preferido</th>
                                <th>Outras cenas</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Difícil</td>
                                <td>5</td>
                                <td class="center">921</td>
                                <td class="center">África</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>63linda</td>
                                <td>Médio</td>
                                <td>10</td>
                                <td class="center">100</td>
                                <td class="center">Europa</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>57</td>
                                <td>Difícil</td>
                                <td>2</td>
                                <td class="center">570</td>
                                <td class="center">Europa</td>
                                <td class="center">xxx</td>
                            </tr>

                            <tr>
                                <td>57</td>
                                <td>Médio</td>
                                <td>5</td>
                                <td class="center">200</td>
                                <td class="center">Ásia</td>
                                <td class="center">xxx</td>
                            </tr>


                            <tr>
                                <td>98</td>
                                <td>Fácil</td>
                                <td>9</td>
                                <td class="center">98</td>
                                <td class="center">Europa</td>
                                <td class="center">xxx</td>
                            </tr>


                            <tr>
                                <td>80</td>
                                <td>Fácil</td>
                                <td>8</td>
                                <td class="center">80</td>
                                <td class="center">Europa</td>
                                <td class="center">xxx</td>
                            </tr>
                        </tbody>


                        <tfoot>
                            <tr>
                                <th colspan="6" class="ts-pager form-horizontal">
                                    <button type="button" class="btn btn-default btn-sm first"><i class="icon-step-backward fa fa-angle-double-left"></i></button>
                                    <button type="button" class="btn btn-default btn-sm prev"><i class="icon-arrow-left fa fa-angle-left"></i></button>
                                    <span class="pagedisplay"></span>
                                    <button type="button" class="btn btn-default btn-sm next"><i class="icon-arrow-right fa fa-angle-right"></i></button>
                                    <button type="button" class="btn btn-default btn-sm last"><i class="icon-step-forward fa fa-angle-double-right"></i></button>
                                    <select class="pagesize input-sm" title="Select page size">
                                        <option value="5" selected="selected">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                    </select>
                                    <select class="pagenum input-sm" title="Select page number"></select>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
