@model Animais360.Models.User
@using Animais360.Models
@{
    IList<User> Users = ViewBag.Users;
}

<div class="content">
    <div class="content-header">
        <h2 class="content-title"><i class="fa fa-dashboard"></i>Dashboard</h2>
    </div>
    <div class="content-body">
        <div id="panel-tablesorter" class="panel panel-default">
            <div class="panel-heading bg-white">
                <h3 class="panel-title" style="color:#F39C12">Tabela Geral</h3>
            </div>

            <div class="panel-body">
                <div class="table-responsive table-responsive-datatables">
                    <table class="tablesorter table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Nome Utilizador</th>
                                <th>Dificuldade</th>
                                <th>Voltas Realizadas</th>
                                <th>Pontuação Máxima</th>
                                <th>Dados Automaticos</th>
                                <th>Nas Posicoes Erradas</th>
                            </tr>
                        </thead>

                        <tbody>
                            
                            @foreach (User u in Users){
                                <tr>
                                <td> @u.UserId </td>
                                <td> @u.UserName </td>
                                <td> @u.NrJogos </td>
                                <td class="center"> @u.NrVoltas </td>
                                <td class="center"> XXX </td>
                                <td class="center"> AAA </td>
                            </tr>
                            }
                        </tbody>


                        <tfoot>
                            <tr>
                                <th colspan="6" class="ts-pager form-horizontal">
                                    <button type="button" class="btn btn-default btn-sm first"><i class="icon-step-backward fa fa-angle-double-left"></i></button>
                                    <button type="button" class="btn btn-default btn-sm prev"><i class="icon-arrow-left fa fa-angle-left"></i></button>
                                    <span class="pagedisplay"></span>
                                    <button type="button" class="btn btn-default btn-sm next"><i class="icon-arrow-right fa fa-angle-right"></i></button>
                                    <button type="button" class="btn btn-default btn-sm last"><i class="icon-step-forward fa fa-angle-double-right"></i></button>
                                    <select class="pagesize input-sm" title="Select page size">
                                        <option value="5" selected="selected">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                    </select>
                                    <select class="pagenum input-sm" title="Select page number"></select>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
