@{
    ViewBag.Title = "Regras";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="content">
    <div class="content-header">
        <h2 class="content-title"><i class="sidebar-icon fa fa-list-alt"></i> Regras de Jogo</h2>
    </div>

<div class="content-body">
    <div class="panel panel-default sortable-widget-item">
        <div class="panel-heading">
            <h4 class="text-warning">Requisitos Mínimos de Progressão</h4>
        </div>

        <div class="panel-body">
            <div class="tab-content">
                <p>Em cada continente, é obrigatório completar com sucesso sete desafios em áreas protegidas diferentes. Só depois poderás progredir na tua aventura.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default sortable-widget-item">
        <div class="panel-heading">
            <h4 class="text-warning">Tempo de Resposta</h4>
        </div>

        <div class="panel-body">
            <div class="tab-content">
                <p>Para responderes a um desafio, terás de o fazer dentro de um limite de tempo. O incumprimento desta regra leva a que a tua resposta seja considerada errada e como tal à consequente perda de pontos. No caso de utilizares ajuda, esta regra não se aplica.</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default sortable-widget-item">
        <div class="panel-heading">
            <h4 class="text-warning">O Derradeiro Desafio</h4>
        </div>

        <div class="panel-body">
            <div class="tab-content">
                <p>
                    No momento em que estás prestes a terminar a tua jornada num dado continente, é-te imposto um desafio especial: O Derradeiro Desafio!
                                        Neste momento, terás de reponder corretamente a um conjunto de três questões relativas a um vídeo de alguns segundos sobre um animal específico, sem a possibilidade de usar qualquer tipo de ajuda. Se fores mal sucedido, terás de repetir o desafio.
                                        Após completares com sucesso este obstáculo, irás receber um crachá de conquista desse continente e estarás apto para avançar para o próximo continente.
                </p>
            </div>
        </div>
    </div>

    <div class="panel panel-default sortable-widget-item">
        <div class="panel-heading">
            <h4 class="text-warning">Mudança de Áreas Dentro de um Continente</h4>
        </div>

        <div class="panel-body">
            <div class="tab-content">
                <p>Ao iniciares a tua jornada, podes escolher em qual dos seis continentes queres começar. No entanto, a rota percorrida entre continentes é definida pelo sistema. Já dentro de cada continente, terás maior liberdade de escolha. Será te apresentada uma lista de países e respetivas áreas protegidas para as quais podes avançar. De seguida, terás de escolher para qual delas queres partir.</p>
            </div>
        </div>
    </div>
</div>
</div>
